* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* Navigation Bar */
#navbar {
  width: 100%;
  height: 100px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 10;
}
#navbar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  /* opacity: 0.9; */
  top: 0;
  left: 0;
}

.logo h1 {
  font-size: 2rem;
  margin: 5px 20px;
  color: white;
}
#navbar ul {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
}

#navbar ul li {
  /* color: ; */
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/* Home Section */
.bgimage {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  background-image: url(./images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: bgchange 20s linear infinite;
}
@keyframes bgchange {
  0% {
    background-image: url(./images/bg1.jpg);
  }
  20% {
    background-image: url(./images/bg1.jpg);
  }
  25% {
    background-image: url(./images/bg2.jpg);
  }
  45% {
    background-image: url(./images/bg2.jpg);
  }
  50% {
    background-image: url(./images/bg3.jpg);
  }
  70% {
    background-image: url(./images/bg3.jpg);
  }
  95% {
    background-image: url(./images/bg2.jpg);
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(41, 27, 27, 0.5);
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  color: #dbfcff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.content h1 {
  font-size: 50px;
  margin-bottom: 0;
  /* color: #000; */
}
.content p {
  font-size: 20px;
  width: 60%;
  padding-bottom: 10px;
  text-align: center;
}
/* Services */
.services {
  margin-top: 50px;
}
.services h1,
.foods h1,
.client h1,
.testimonials h1 {
  font-size: 40px;
  text-align: center;
}
.samesize {
  height: 150px;
  width: 150px;
  object-fit: contain;
  overflow: hidden;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  justify-items: center;
  align-items: center;
}
.delivery,
.combo,
.bulky-order,
.healthy {
  background-color: #f7f7f7;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  height: auto;
  width: 200px;
  cursor: pointer;
}
.delivery:hover,
.combo:hover,
.bulky-order:hover,
.healthy:hover {
  background-color: #f8e9e9;
  box-shadow: 0px 0px 20px 2px rgb(87, 69, 69);
  transition: ease 1s;
  transform: scale(1.1);
}
.btn {
  padding: 6px 20px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(216, 228, 145);
  color: rgb(37, 4, 4);
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 30px;
}
/* Foods Available */
.foods {
  margin-top: 30px;
}
.i1 {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.foods-available {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #000;
  /* margin-top: 50px; */
}
.photos {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.photos span {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
.photos span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.client {
  margin-top: 40px;
}
.client-item {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  background-image: url(./images/client.jpg);
}
.fa-brands {
  font-size: 50px;
}
.footer {
  margin-top: 30px;
  text-align: center;
}
.testimonials {
  margin: 30px;
}
.test {
  display: flex;
  background-image: url(./images/testimonial.jpg);
  /* height: 100px; */
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* opacity: 0.2; */
}
.rating {
  color: black;
  border: none;
  text-align: center;
  /* height: 150px; */
  width: 150px;
  justify-content: space-between;
  margin: auto;
}
@media screen and (max-width: 700px) {
  /* Styles for screens up to 700px */

  /* Navigation Bar */
  #navbar {
    height: auto;
    width: 100%;
    /* flex-direction: row;
    align-items: flex-start;
    padding: 10px; */
    display: block;
  }
  #navbar h1 {
    font-size: 20px;
  }
  #navbar ul {
    /* flex-direction: column; */
    padding-left: 0;
  }

  #navbar ul li {
    margin-bottom: 10px;
    font-size: 10px;
  }

  /* Home Section */
  .bgimage {
    height: 60vh;
  }

  .content h1,
  .services h1,
  .client h1,
  .foods h1 {
    font-size: 30px;
  }

  .content p {
    font-size: 16px;
    width: 80%;
  }
  .heading {
    font-size: 60px;
  }
  /* Services */
  .box {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  /* Foods Available */
  .photos {
    width: 150px;
    height: 150px;
  }

  .photos span img {
    width: 150px;
    height: 150px;
  }

  /* Client */
  .client-item {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .client-item div {
    margin: 10px;
  }
}
